[submodule "OpenGEXTest/Plugins/OpenGEXImporter/Source/Thirdparty/OpenGEXParser/opengex-parser"]
	path = OpenGEXTest/Plugins/OpenGEXImporter/Source/Thirdparty/OpenGEXParser/opengex-parser
	url = ../opengex-parser.git
